API_DEBUG=true
API_LOG_LEVEL=10
API_PROJECT_NAME="Meldingen Openbare Ruimte"
API_URL_PREFIX=/api
API_DATABASE_DSN=postgresql+asyncpg://meldingen:postgres@database:5432/meldingen
API_JWKS_URL=http://keycloak:8002/realms/meldingen/protocol/openid-connect/certs
API_AUTH_URL=http://localhost:8002/realms/meldingen/protocol/openid-connect/auth
API_TOKEN_URL=http://localhost:8002/realms/meldingen/protocol/openid-connect/token
API_CORS_ALLOW_ORIGINS='["http://localhost:3001"]'
API_CORS_ALLOW_CREDENTIALS=false
API_CORS_ALLOW_METHODS='["*"]'
API_CORS_ALLOW_HEADERS='["*"]'
# Uses ISO 8601 standard for durations (https://en.wikipedia.org/wiki/ISO_8601)
API_TOKEN_DURATION='P3D'
API_ATTACHMENT_STORAGE_BASE_DIRECTORY=tmp/attachments
API_ATTACHMENT_ALLOW_MEDIA_TYPES='["image/jpeg", "image/jpg", "image/png", "image/webp"]'
API_IMGPROXY_KEY=000000
API_IMGPROXY_SALT=111111
API_IMGPROXY_BASE_URL=http://imgproxy:8080
API_AZURE_STORAGE_URL=http://azurite:10000
API_AZURE_ACCOUNT_NAME=devstoreaccount1
API_AZURE_ACCOUNT_KEY=Eby8vdM02xNOcqFlqUwJPLlmEtlCDXJ1OUzFT50uSRZ6IFsuFq2UVErCz4I6tq/K1SZFPTOtr/KBHBeksoGMGw==
API_AZURE_CONTAINER=meldingencontainer
OTEL_INSTRUMENTATION_HTTP_CAPTURE_HEADERS_SERVER_REQUEST=".*"
OTEL_INSTRUMENTATION_HTTP_CAPTURE_HEADERS_SERVER_RESPONSE=".*"
OTEL_EXPORTER_OTLP_ENDPOINT=http://jaeger:4317
